/* Globals */

body {
    background: #f5f5f5;
    font-family: 'Open Sans Condensed', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.ui.header,
.ui.button {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 200;
}

.txt-highlight {
    color: #00b5ad;
}


/* Hero */

#hero {
    background: url('../images/hero.jpg') center center no-repeat/cover;
    height: 100vh;
    background-attachment: fixed;
    transition: all ease 4ms;
}

#hero .container {
    text-align: center;
}

#hero .ui.header {
    padding-top: 10%;
    color: #FFF;
}

#hero .leadText {
    color: #FFF;
    font-size: 1.3em;
}


/* Solution */

#solution {
    background: #eee;
    min-height: 400px;
    padding: 60px 0;
}

#solution .input {
    text-align: center;
    display: block;
}


/* Footer */

#footer {
    text-align: center;
    padding: 40px 0;
    font-size: 16px;
}